//
//colors
//
$indigo000 : #C7C8EA;
$indigo200 : #787BC7;
$indigo700: #3E2ED9;
$indigo800: #3010BD;
$indigo900: #2800A4;
$indigo999: #1E205F;
$indigoOther: #393C7D;

$yellow400: #FFE380;

$gray100: #F4F4F4;
$gray150: #F2F2F2;
$gray200: #E3E3E3;
$gray300: #CCCCCC;
$gray400: #B8B8B8;
$gray500: #999999;
$gray600: #808080;
$gray700: #707070;
$gray800: #565665;
$gray900: #404040;

//
//fonts
//
$header-large-font-weight: 700;
$header-large-font-size: 15pt;
$header-small-font-weight: 400;
$header-small-font-size: 9pt;